extends layout
style

block content
    #result.alert
    ol.breadcrumb
        li
            a(href='/') Dossiers
        li.active #{dossier.codePermanent}
    #Infos
        #titre-fiche Dossier
        #contenu

            ul#details-etudiant
                li#code Code Permanent :
                    span#code-valeur #{dossier.codePermanent}
                li#nom Nom de l'étudiant(e) :
                    span#nom-valeur #{dossier.nom}
                li#prenom Prenom de l'étudiant(e) :
                    span#prenom-valeur  #{dossier.prenom}
                li#date Date de naissance de l'étudiant(e) :
                   span#date-valeur=moment(dossier.dateNaissance).format('Do MMMM YYYY')
                  - var sexeTexte="s/o";
                if dossier.sexe==1
                    - sexeTexte=" Homme";
                else if dossier.sexe==2

                        - sexeTexte="Femme"
                li#sexe Sexe l'étudiant(e):
                    span#sexe-valeur #{sexeTexte}

        table#cours.table.table-hover.table-bordered.cours-margins-def
            thead
                tr
                    td(colspan='4') Liste des cours
                tr
                    td Sigle
                    td Groupe
                    td Session
                    td Note finale
            each  cours in dossier.listeCours
                   if cours.noteFinale >= 60
                       tr.uncours.success
                           td #{cours.sigle}
                           td #{cours.groupe}
                           td #{cours.session}
                           td #{cours.noteFinale}
                   else
                       tr.uncours.danger
                           td #{cours.sigle}
                           td #{cours.groupe}
                           td #{cours.session}
                           td #{cours.noteFinale}
            tfoot
                tr
                    td(colspan='4') Nombre de cours: #{dossier.listeCours.length}
                tr
                    td Légende
                    td.success Cours réussi
                    td.danger Cours échoué
                    td(colspan='2')
        button(href='#myModal' class='btn btn-info' data-toggle="modal" data-target="#edition-fiche")  mettre à jour le dossier
        button#delete.btn.btn-danger(type="button") Supprimer l'étudiant(e)
        a#retour.btn.btn-default(type="button", href='/')  Retour à la liste des étudiants


        // Modal HTML
        #edition-fiche.modal.fade
            .modal-dialog
                .modal-content
                    .modal-header
                        button.close.close-edit(type='button', data-dismiss='modal', aria-hidden='true') ×
                        h4.modal-title Mise à jour
                    .modal-body
                        #resultModal.alert.alert-info Les changements sont sauvegardés automatiquement.
                        form#editionDossier.form-horizontal
                            fieldset
                                // Form Name
                                legend Dossier
                                label(for='cp') Code permanent
                                input.edit#form-cp(type='text', value='#{dossier.codePermanent}',required, name='CP')
                                br
                                label(for='nom') Nom
                                input.edit#form-nom(type='text', value='#{dossier.nom}',required, name='nom')
                                br
                                label(for='prenom') Prenom
                                input.edit#form-prenom(type='text', value='#{dossier.prenom}',required, name='prenom')
                                br
                                label(for='sexe') Sexe
                                   if dossier.sexe==1
                                       select.edit#form-sexe(required,name='sexe')
                                        option#0(value='') Choisir...
                                        option#1(value='1', selected="true") Homme
                                        option#2(value='2',) Femme
                                        option#3(value='3') S/O

                                    else if dossier.sexe==2
                                        select.edit#form-sexe(required,name='sexe')
                                                option#0(value='') Choisir...
                                                option#1(value='1' ) Homme
                                                option#2(value='2',selected="true") Femme
                                                option#3(value='3') S/O
                                    else

                                        select.edit#form-sexe(required,name='sexe')
                                            option#0(value='') Choisir...
                                            option#1(value='1') Homme
                                            option#2(value='2',) Femme
                                            option#3(value='3',selected="true") S/O
                                br
                                label(for="dateNaissance") Date de naissance
                                input.edit#form-dateNaissance(type='text',value='#{dossier.dateNaissance}')





                    .modal-footer
                        button.close-edit.btn.btn-default(type='button', data-dismiss='modal') Fermer


